<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= page_meta.title %></title>
  <meta name="description" content="<%= page_meta.description %>">
  <meta name="keywords" content="<%= page_meta.keywords %>">
  <%= yield :head %>
</head>
<body>
  <%= yield %>
</body>
</html>
